DATABASE_URL = 
REMOVEBG_KEY = 'yepeTQaFk7r9ymusihgXYvdN'
PREFIX = '.'
MODE = 'private'
autoRead= 'false'
BOTNAME = 'ULTRA-MD'
antidelete = 'true'
BOT_NUMBER= '2347045505096
OWNERS = 'Lordkay'
SESSION_ID = 'DUghRSBS#UkqKh1pKrEQqOCkeSOlDPTqAM1eecg-ZWOrRhs9-mCo'
